<%= form_for(cleaner) do |form| %>
  <% if cleaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cleaner.errors.count, "error") %> prohibited this cleaner from being saved:</h2>
      <ul>
        <% cleaner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :quality_scope %>
    <%= form.text_field :quality_scope %>
  </div>

  <div class="field">
    <%= form.label :employed %>
    <%= form.check_box :employed, {}, "true", "false" %>
  </div>

  <div class="field">
    <%= form.fields_for :workplaces do |c| %>
      <% @cities.each do |city| %>
        <%= c.label :city_id, "#{city.name}" %>
        <%= c.check_box :city_id, {}, "" %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
