<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Cleaners</th>
      <th>Quality scope</th>
      <th>Workplaces count</th>
      <th>Bookings count</th>
      <th>Employed</th>
      <th colspan="3"></th>      
    <tr>
  </thead>

  <tbody>
    <% @cleaners.each do |cleaner| %>
        <tr>
          <td><%= link_to cleaner.full_name, cleaner_path(cleaner) %></td>
          <td><%= cleaner.quality_scope %></td>
          <td><%= cleaner.workplaces.count %></td>
          <td><%= cleaner.bookings.count %></td>
          <td><%= cleaner.employed %></td>
          <td><%= link_to 'Destroy', cleaner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Cleaner', new_cleaner_path %>
