<h1>New Cleaner</h1>
<%= form_for(@cleaner) do |form| %>
  <%= render  "layouts/errors", object: @cleaner %>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, autofocus: true,
                                     required: true,
                                     pattern: "[A-Za-z]{1,25}",
                                     maxlength: "25" %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true,
                                    pattern: "[A-Za-z]{1,25}",
                                    maxlength: "25" %>
  </div>
  <div class="field">
    <%= form.label :quality_scope %>
    <%= form.number_field :quality_scope, in: 0.0..5.0,
                                          step: 0.5 %>
    <small>in 0...5</small>
  </div>
  <strong>Workplaces:</strong>
  <% @cities.each do |city| %>
    <div class="city">
      <%= form.fields_for :workplaces do |c| %>
        <%= c.check_box :city_id, {}, city.id, nil %> 
        <%= c.label :city_id, city.name %>
      <% end %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', cleaners_path %>
