<div class="box-cleaner">
  <h1>New Cleaner</h1>
  <%= form_for(@cleaner) do |form| %>
    <%= render  "layouts/errors", object: @cleaner %>
    <div class="field">
      <%= form.text_field :first_name, autofocus: true,
                                      placeholder: "First name",
                                      required: true,
                                      pattern: "[A-Za-z]{1,25}",
                                      maxlength: "25" %>
    </div>
    <div class="field">
      <%= form.text_field :last_name, required: true,
                                      placeholder: "Last name",
                                      pattern: "[A-Za-z]{1,25}",
                                      maxlength: "25" %>
    </div>
    <div class="field">
      <%= form.label :quality_scope %><br>
      <%= form.number_field :quality_scope, in: 0.0..5.0,
                                            step: 0.5 %>
      <small>in 0...5</small>
    </div>
    <div class="field">
      <strong>Workplaces:</strong>
      <ul>
        <% @cities.each do |city| %>
          <%= form.fields_for :workplaces do |c| %>
            <li>
              <%= c.check_box :city_id, {}, city.id, nil %> 
              <%= c.label :city_id, city.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>