<p id="notice"><%= notice %></p>

<p>
  <strong>Cleaner:</strong>
  <%= @cleaner.full_name %>
</p>

<p>
  <strong>Quality scope:</strong>
  <%= @cleaner.quality_scope %>
</p>

<p>
  <strong>Employed:</strong>
  <%= @cleaner.employed %>
</p>

<p>
  <strong>Workplaces:</strong>
  <ul>
    <% @workplaces.each do |city| %>
      <li><%= city.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Bookings:</strong>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= booking.date.to_formatted_s(:long) %>
        |
        <%= booking.time.to_s(:time) %>
        |
        <%= @workplaces.find(booking.city_id).name %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to "Back", cleaners_path %>