<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer.full_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<h2>Booking</h2>

<p>
  <strong>City:</strong>
  <%= City.find(@booking.city_id).name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>
<p>
  <strong>Time:</strong>
  <%= @booking.time %>
</p>
<p>
  <strong>Cleaner:</strong>
  <%= @cleaner.full_name %>
  <%= @cleaner.quality_scope %>

</p>