<div class="box">
  <h1>New Booking</h1>
  <%= form_for(@customer, html: { autocomplete: "off" }) do |form| %>
    <%= render  "layouts/errors", object: @customer %>
    <div class="field">
      <%= form.text_field :first_name, required: true,
                                       pattern: "[A-Za-z]{1,25}",
                                       maxlength: "25" %> 
      <%= form.label :first_name %>
    </div>
    <div class="field">
      <%= form.text_field :last_name, required: true,
                                      pattern: "[A-Za-z]{1,25}",
                                      maxlength: "25" %>
      <%= form.label :last_name %>
    </div>
    <div class="field">
      <%= form.telephone_field :phone_number, required: true,
                                              placeholder: "123-456-7890",
                                              maxlength: "12",
                                              pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>
      <%= form.label :phone_number %>
    </div>
    <%= form.fields_for :booking do |b| %>
      <div class="select_city">
        <%= b.select :city_id, @cities.map { |c| [c.name, c.id] }, required: true %>      
        <%= b.label :city_id, "City" %>
      </div>
      <div class="date_time">
        <div>
          <%= b.date_field :date, required: true,
                                  min: "#{Date.tomorrow}",
                                  max: "2021-06-13" %>
          <%= b.label :date, "Date" %>
        </div>
        <div>
          <%= b.time_field :time, required: true,
                                  min: "09:00",
                                  max: "18:00" %>
          <%= b.label :time, "Time" %>
          <small>Office hours are 9am to 6pm</small>
        </div>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit "Submit" %>
    </div>
  <% end %>
</div>
