<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<h2>Booking</h2>

<p>
  <strong>City:</strong>
  <%= City.find(@booking.city_id).name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>
<p>
  <strong>Time:</strong>
  <%= @booking.time %>
</p>
<p>
  <strong>Cleaner:</strong>
  <%= Cleaner.find(@booking.cleaner_id) if @booking.cleaner_id %>
</p>
  

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
