<div class="midle">
  <ul class="menu">
    <% @cities.each do |city| %>
      <li class="city">
        <%= radio_button_tag :city, city.id %>
        <%= label_tag "city_#{city.id}", city.name %>
        <%= link_to '×', city, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <ul>
          <% city.cleaners.each do |cleaner| %>
            <li><%= link_to cleaner.full_name, cleaner_path(cleaner) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
<div class="create_city">
  <%= check_box_tag :create_city %>
  <%= label_tag :create_city, "Add" %>
  <%= form_for(@city) do |form| %>
    <%= render  "layouts/errors", object: @city %>
      <%= form.text_field :name, autofocus: true,
                                placeholder: " ",
                                required: true,
                                pattern: "[A-Za-z ]{4,14}",
                                maxlength: "14" %>
      <%= form.label :name, "Name" %>
      <%= form.submit "Create new city" %>
  <% end %>
</div>
