<div class="midle">
  <ul class="menu">
    <% @cities.each do |city| %>
      <li class="city">
        <%= radio_button_tag :city, city.id %>
        <%= label_tag "city_#{city.id}", city.name %>
        <ul>
          <% city.cleaners.each do |cleaner| %>
            <li><%= link_to cleaner.full_name, cleaner_path(cleaner) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<%
=begin%>
 <%= link_to '+', city, method: :delete, data: { confirm: 'Are you sure?' } %> 
<%= link_to '+', new_city_path %> 
<%
=end%>

